@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Notes</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to My Notes Application</h2>
        <p>
            If I can get this to load correctly this application will allow you to enter notes
        </p>
    </div>
    
</div>